In [1]:
import pandas as pd
import numpy as np
import seaborn as snb

In [2]:
RANDOM_STATE = 42
shipping = pd.read_csv('data/people.csv')

In [3]:
shipping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87048 entries, 0 to 87047
Data columns (total 20 columns):
person_id           87048 non-null int64
id                  87048 non-null object
type                87048 non-null object
parent              87048 non-null object
name                87035 non-null object
dob                 87048 non-null object
age                 87048 non-null object
place_of_birth      87048 non-null object
home_address        87048 non-null object
name_of_ship        87047 non-null object
ship_port           87048 non-null object
date_leaving        87048 non-null object
joined_ship_date    87048 non-null object
joined_at_port      87046 non-null object
capacity            87046 non-null object
date_left           87048 non-null object
left_port           87048 non-null object
cause_of_leaving    87046 non-null object
sign_with_mark      87048 non-null object
notes               87030 non-null object
dtypes: int64(1), object(19)
memory usage: 13.3+ MB

In [4]:
shipping.head()

,person_id,id,type,parent,name,dob,age,place_of_birth,home_address,name_of_ship,ship_port,date_leaving,joined_ship_date,joined_at_port,capacity,date_left,left_port,cause_of_leaving,sign_with_mark,notes
0,33522,vtls004589021_0_13,sailor,vtls004589021,william cunningham,blk,19,liverpool,blk,adroit,aberystwyth,1873-12,1874-01-01,blk,ordinary seaman,1874-03-19,newcastle,discharged,n,blk
1,33523,vtls004589021_0_14,sailor,vtls004589021,evan griffiths,blk,21,portmadoc,blk,jane owens,porthmadoc,1874-04,1874-05-15,porthmadog,able seaman,blk,blk,remains on board,n,remains on board
2,33524,vtls004589021_0_12,sailor,vtls004589021,henry evans,blk,27,aberystwyth,blk,adroit,aberystwyth,1873-12,1874-01-01,blk,bosun,blk,blk,remains on board,n,remains on board
3,33525,vtls004589069_0_14,sailor,vtls004589069,david evans,blk,16,aberaeron,blk,adroit,aberystwyth,remains,1876-01-01,maryport,ordinary seaman,blk,blk,remains on board,n,remains on board
4,33526,vtls004589021_1_13,sailor,vtls004589021,richard jones,blk,20,aberystwyth,blk,adroit,aberystwyth,1874-06,1874-07-01,blk,ordinary seaman,blk,blk,remains on board,n,remains on board

In [5]:
len(shipping)

87048

In [6]:
shipping.describe(include="all")

,person_id,id,type,parent,name,dob,age,place_of_birth,home_address,name_of_ship,ship_port,date_leaving,joined_ship_date,joined_at_port,capacity,date_left,left_port,cause_of_leaving,sign_with_mark,notes
count,87048.000000,87048,87048,87048,87035,87048,87048,87048,87048,87047,87048,87048,87048,87046,87046,87048,87048,87046,87048,87030
unique,NaN,87048,1,5659,27770,148,70,4698,7182,18243,1784,5045,12520,1076,426,11528,1266,756,11,6240
top,NaN,vtls004692885_1_16,sailor,vtls004640036,john jones,blk,blk,aberystwyth,blk,blk,aberystwyth,blk,blk,cardiff,able seaman,blk,blk,discharged,n,blk
freq,NaN,1,87048,172,1909,70475,17293,12367,73755,2019,42484,16188,8175,9807,26270,20270,21507,47522,78827,77250
mean,77045.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,25128.737453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,33522.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,55283.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,77045.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,98807.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,120569.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
shipping.loc[shipping['person_id'] == '']

C:\Users\Sondr\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [person_id, id, type, parent, name, dob, age, place_of_birth, home_address, name_of_ship, ship_port, date_leaving, joined_ship_date, joined_at_port, capacity, date_left, left_port, cause_of_leaving, sign_with_mark, notes]
Index: []

In [8]:
shipping = shipping.drop(shipping[shipping['person_id'].isnull()])

KeyError: "['person_id' 'id' 'type' 'parent' 'name' 'dob' 'age' 'place_of_birth'\n 'home_address' 'name_of_ship' 'ship_port' 'date_leaving'\n 'joined_ship_date' 'joined_at_port' 'capacity' 'date_left' 'left_port'\n 'cause_of_leaving' 'sign_with_mark' 'notes'] not found in axis"