In [1]:
import pandas as pd
import numpy as np
import seaborn as snb

In [2]:
RANDOM_STATE = 42
shipping = pd.read_csv('data/people.csv')

In [3]:
shipping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87048 entries, 0 to 87047
Data columns (total 20 columns):
person_id           87048 non-null int64
id                  87048 non-null object
type                87048 non-null object
parent              87048 non-null object
name                86990 non-null object
dob                 16573 non-null object
age                 69755 non-null float64
place_of_birth      85660 non-null object
home_address        13293 non-null object
name_of_ship        85028 non-null object
ship_port           69998 non-null object
date_leaving        70860 non-null object
joined_ship_date    78873 non-null object
joined_at_port      77337 non-null object
capacity            86606 non-null object
date_left           66778 non-null object
left_port           65541 non-null object
cause_of_leaving    84726 non-null object
sign_with_mark      85833 non-null object
notes               87030 non-null object
dtypes: float64(1), int64(1), object(18)
memory usage: 13.3+ MB

In [4]:
shipping.head()

,person_id,id,type,parent,name,dob,age,place_of_birth,home_address,name_of_ship,ship_port,date_leaving,joined_ship_date,joined_at_port,capacity,date_left,left_port,cause_of_leaving,sign_with_mark,notes
0,33522,vtls004589021_0_13,sailor,vtls004589021,william cunningham,NaN,19.0,liverpool,NaN,adroit,aberystwyth,1873-12,1874-01-01,NaN,ordinary seaman,1874-03-19,newcastle,discharged,n,blk
1,33523,vtls004589021_0_14,sailor,vtls004589021,evan griffiths,NaN,21.0,portmadoc,NaN,jane owens,porthmadoc,1874-04,1874-05-15,porthmadog,able seaman,NaN,NaN,remains on board,n,remains on board
2,33524,vtls004589021_0_12,sailor,vtls004589021,henry evans,NaN,27.0,aberystwyth,NaN,adroit,aberystwyth,1873-12,1874-01-01,NaN,bosun,NaN,NaN,remains on board,n,remains on board
3,33525,vtls004589069_0_14,sailor,vtls004589069,david evans,NaN,16.0,aberaeron,NaN,adroit,aberystwyth,remains,1876-01-01,maryport,ordinary seaman,NaN,NaN,remains on board,n,remains on board
4,33526,vtls004589021_1_13,sailor,vtls004589021,richard jones,NaN,20.0,aberystwyth,NaN,adroit,aberystwyth,1874-06,1874-07-01,NaN,ordinary seaman,NaN,NaN,remains on board,n,remains on board

In [5]:
len(shipping)

87048

In [6]:
shipping.describe(include="all")

,person_id,id,type,parent,name,dob,age,place_of_birth,home_address,name_of_ship,ship_port,date_leaving,joined_ship_date,joined_at_port,capacity,date_left,left_port,cause_of_leaving,sign_with_mark,notes
count,87048.000000,87048,87048,87048,86990,16573,69755.000000,85660,13293,85028,69998,70860,78873,77337,86606,66778,65541,84726,85833,87030
unique,NaN,87048,1,5659,27769,147,NaN,4697,7181,18242,1783,5044,12519,1075,425,11527,1265,755,10,6240
top,NaN,vtls004667872_2_16,sailor,vtls004640036,john jones,1866,NaN,aberystwyth,aberystwyth,first ship,aberystwyth,continued,continued,cardiff,able seaman,remains,liverpool,discharged,n,blk
freq,NaN,1,87048,172,1909,560,NaN,12367,801,1530,42484,3212,1449,9807,26270,1206,5609,47522,78827,77250
mean,77045.500000,NaN,NaN,NaN,NaN,NaN,29.104107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,25128.737453,NaN,NaN,NaN,NaN,NaN,11.670387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,33522.000000,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,55283.750000,NaN,NaN,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,77045.500000,NaN,NaN,NaN,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,98807.250000,NaN,NaN,NaN,NaN,NaN,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,120569.000000,NaN,NaN,NaN,NaN,NaN,78.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
null_columns = shipping.columns[shipping.isnull().any()]
shipping[null_columns].isnull().sum()

name                   58
dob                 70475
age                 17293
place_of_birth       1388
home_address        73755
name_of_ship         2020
ship_port           17050
date_leaving        16188
joined_ship_date     8175
joined_at_port       9711
capacity              442
date_left           20270
left_port           21507
cause_of_leaving     2322
sign_with_mark       1215
notes                  18
dtype: int64

KeyError: "['person_id' 'id' 'type' 'parent' 'name' 'dob' 'age' 'place_of_birth'\n 'home_address' 'name_of_ship' 'ship_port' 'date_leaving'\n 'joined_ship_date' 'joined_at_port' 'capacity' 'date_left' 'left_port'\n 'cause_of_leaving' 'sign_with_mark' 'notes'] not found in axis"